{% extends "poem/base.html" %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="page-header col-md-offset-4 col-md-3" style="margin-top: 0;">
        <h1>《上邪》<small>---汉乐府民歌</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <p>上邪！</p>
        <p>我欲与君相知</p>
        <p>长命无绝衰</p>
        <p>山无陵</p>
        <p>江水为竭</p>
        <p>冬雷震震</p>
        <p>夏雨雪</p>
        <p>天地合</p>
        <p>乃敢与君绝！</p>
      </div>
    </div>
  </div>

{% endblock %}
