{% extends "poem/base.html" %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="page-header col-md-offset-4 col-md-4" style="margin-top: 0;">
        <h1>《我爱这土地》<small>---艾青</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <p>假如我是一只鸟</p>
        <p>我也应该用嘶哑的喉咙歌唱：</p>
        <p>这被暴风雨所打击着的土地</p>
        <p>这永远汹涌着我们的悲愤的河流</p>
        <p>这无止息地吹刮着的激怒的风</p>
        <p>和那来自林间的无比温柔的黎明……</p>
        <br />
        <p>——然后我死了</p>
        <p>连羽毛也腐烂在土地里面</p>
        <p>为什么我的眼里常含泪水</p>
        <p>因为我对这土地爱得深沉……</p>
      </div>
    </div>
  </div>

{% endblock %}
