{% extends "poem/base.html" %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="page-header col-md-offset-4 col-md-5" style="margin-top: 0;">
        <h1>《摸鱼儿·雁丘词》<small>---元好问</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <p>问世间，情为何物，直教生死相许</p>
        <p>天南地北双飞客</p>
        <p>老翅几回寒暑</p>
        <p>欢乐趣</p>
        <p>离别苦</p>
        <p>就中更有痴儿女</p>
        <p>君应有语</p>
        <p>渺万里层云</p>
        <p>千山暮雪</p>
        <p>只影向谁去！</p>
        <br />
        <p>横汾路</p>
        <p>寂寞当年箫鼓</p>
        <p>荒烟依旧平楚</p>
        <p>招魂楚些何嗟及</p>
        <p>山鬼暗啼风雨</p>
        <p>天也妒，未信与，莺儿燕子俱黄土</p>
        <p>千秋万古</p>
        <p>为留待骚人</p>
        <p>狂歌痛饮</p>
        <p>来访雁丘处</p>
      </div>
    </div>
  </div>

{% endblock %}
