{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Description" content="范二青年,范二少年,范二男孩,范二boy,f2boy"/>
  <title>范二男孩 - 重定义boy_范二青年</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://odwsp46yw.bkt.clouddn.com/images/favicon.ico?v=2" />
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
  
    body {
      background: #040404 url('http://odwsp46yw.bkt.clouddn.com/images/fbi-warning.jpg') center -88px no-repeat;
    }

  </style>

  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div style="position:absolute;top: 500px;text-align: center;width: 100%;">
  <a href="/poem/" class="btn btn-info" role="button" style="margin-right: 88px;">不嘛！伦家就是想看</a>
  <a href="http://php.f2boy.com" class="btn btn-danger" role="button">羞羞的离开</a>
</div>

</body>
</html>
